{{!-- flash message --}}
{{#if success_msg}}
<div class="ms-5 badge fs-3" style="border: 3px solid #bc2e0b; border-radius: 20px; color: #bc2e0b">{{success_msg}}
</div>
{{/if}}

{{#if error_msg}}
<div class="ms-5 badge fs-3" style="border: 3px solid #bc2e0b; border-radius: 20px; color: #bc2e0b">{{error_msg}}
</div>
{{/if}}