{{!-- Display User Name --}}
<span id="user-name">Hello, {{defaultName user.name}}</span>

{{!-- Logout Button --}}
<form action="/logout" method="POST">
    <button class="btn btn-info" id="logout-button" type="submit">Logout</button>
</form>