{{!-- flash message --}}
{{> message}}

<div class="card-container d-flex justify-content-center">
  <div class="card border-primary mt-5 mb-3" style="width: 60rem;">
    <div class="card-header">
      <h2>Login</h2>
    </div>
    <div class="card-body fs-3">
      <form action="/login" method="POST">
        <div>
          <div>
            <label for="loginInputEmail" class="form-label">Email</label>
          </div>
          <input type="email" class="form-control mb-3" id="loginInputEmail" placeholder="Enter Email" name="email"
            required>
        </div>
        <div>
          <div>
            <label for="loginInputPassword" class="form-label">Password</label>
          </div>
          <input type="password" class="form-control mb-3" id="loginInputPassword" placeholder="Enter Password"
            name="password" required>
        </div>
        {{!-- Login Button --}}
        <button type="submit" class="btn btn-info mb-3">Login</button>
      </form>

      <div class="d-flex justify-content-between">

        {{!-- Register Button --}}
        <div>
          <span class="me-2">No account?</span>
          <a href="/register" class="text-danger">Register</a>
        </div>

        {{!-- Facebook Login Button --}}
        <div>
          <form action="/oauth/login/facebook" method="GET">
            <button type="submit" class="btn btn-secondary">Facebook Login</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>