{{!-- flash message --}}
{{> message}}

<div class="card-container d-flex justify-content-center">
  <div class="card border-primary mt-5 mb-3" style="width: 60rem;">
    <div class="card-header">
      <h2>Register</h2>
    </div>
    <div class="card-body fs-3">
      <form action="/users" method="POST">
        <div>
          <div>
            <label for="inputName" class="form-label">Name</label>
          </div>
          <input type="text" class="form-control mb-3" id="inputName" name="name" placeholder="Enter Username">
        </div>
        <div>
          <div>
            <label for="inputEmail" class="form-label">Email address</label>
          </div>
          <input type="email" class="form-control mb-3" id="inputEmail" placeholder="Enter Email" name="email">
        </div>
        <div>
          <div>
            <label for="inputPassword" class="form-label">Password</label>
          </div>
          <input type="password" class="form-control mb-3" id="inputPassword" placeholder="Enter Password"
            name="password">
        </div>
        <div>
          <div>
            <label for="inputPasswordConfirm" class="form-label">Confirm Password</label>
          </div>
          <input type="password" class="form-control mb-3" id="inputPasswordConfirm" placeholder="Confirm Password"
            name="confirmPassword">
        </div>
        {{!-- Register Button --}}
        <button type="submit" class="btn btn-info mb-3">Register</button>
      </form>


      <div class="d-flex justify-content-between">

        {{!-- Login Button --}}
        <div>
          <span class="me-2">Already have an account?</span>
          <a href="/login" class="text-danger">Login</a>
        </div>

        {{!-- Facebook Login Button --}}
        <div>
          <form action="/oauth/login/facebook" method="GET">
            <button type="submit" class="btn btn-secondary">Facebook Login</button>
          </form>
        </div>

      </div>

    </div>
  </div>
</div>